<td>
       <tr>
           <td>.</td><td>.</td><td><%= dd.name %></td>
           <td><%= link_to 'Show', dd %></td>
           <td><%= link_to 'Edit', edit_domain_path(dd) %></td>
           <td><%= link_to 'Destroy', dd, method: :delete, data: { confirm: 'Are you sure?' } %></td>
       </tr>   
</td>